/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
/* div, */
span,
applet,
object,
iframe,
h1,
/* h2, */
h3,
h4,
h5,
/* h6, */
p,
blockquote,
pre,
/* a, */
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  box-sizing: border-box;
}
body {
  line-height: 1;
  background-color: #fffef8;
}
h6 {
  display: none;
}
a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:visited,
a:active {
  font-weight: 600;
}

a:active {
  color: black;
}
.article {
  text-align: justify;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 20px;
  font-size: 1.2em;
}

/* la bande noire du mode edition */
.black-header {
  background-color: black;
  color: white;
  height: 48px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.black-header i {
  font-size: 16px;
  font-weight: lighter;
  margin-right: 10px;
}
.black-header span {
  font-size: 16px;
  font-weight: normal;
}
/* *********************************************************************** */

.logo-insta {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
  margin-top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-left: 95px;
}

.filters {
  text-align: center;
  margin-bottom: 1em;
}

.user-modify {
  color: black;
  font-size: 14px;
  padding-top: 5px;
  cursor: pointer;
  visibility: hidden;
  font-family: "Work Sans";
  font-weight: normal;
  display: inline-block;
}

.hidden {
  visibility: hidden;
}
.hidden-none {
  display: none;
}
.active {
  visibility: visible;
}

.display-block {
  display: block;
}
/* ****************************************************************** */
.button,
button {
  border-radius: 60px;
  color: #1d6154;
  background-color: white;
  border: 1px solid #1d6154;
  height: 37px;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-left: 0.5em;
  font-weight: bold;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "syne";
  transition: all 200ms ease-in;
}

button:hover {
  color: white;
  background-color: #1d6154;
}

/* ***************************************** */

#modale {
  visibility: hidden;

  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-gallery {
  padding-top: 50px;
  width: 630px;
  height: 688px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  left: 29.2%;
  /* top: 75%; */
}
.images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 10px;
  margin: 50px 100px 27px 100px;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 60px;
  padding-left: 20px;
}

.images-container img {
  width: auto;
  height: 103px;
  object-fit: cover;
  padding-bottom: 10px;
}

.modal-text {
  display: block;
  margin-bottom: 30px;
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: lighter;
  color: black;
  text-align: center;
}

.close-modale {
  color: black;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}
/* ************************************************ */

.stamp-images {
  position: relative;
}

.trash-icon {
  position: absolute;
  top: 15%;
  left: 80%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: white;
  font-size: 10px;
  background-color: black;
  width: 17px;
  height: 18px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-underline-offset: inherit;
}
.add-photo-button {
  border-radius: 60px;
  color: white;
  background-color: #1d6154;
  height: 37px;
  font-weight: bold;
  font-size: 14px;
  padding: 9px 49px;
  font-family: "syne";
  transition: all 200ms ease-in;
  position: relative;
  left: 29.2%;
}

.add-photo-button:hover {
  color: white;
  background-color: black;
}
/* ****************************************************** */
#modal-add-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 630px;
}
.modal-add-select-photo {
  padding-top: 50px;
  width: 40%;
  height: 688px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
#select-photo-form {
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: lighter;
  color: black;
  margin-right: 110px;
  display: block;
  position: relative;
  top: -95px;
  padding-top: 30px;
}

.arrow-back {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 22px;
  cursor: pointer;
  color: black;
}
.close-add-photo-modale {
  color: black;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.photo-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ebf1f6;
  width: 420px;
  gap: 20px;
  position: relative;
  top: -75px;
}
.photo-upload label {
  height: 169px;
  font-family: "Work Sans";
}

.image-upload {
  background-color: #ebf1f6;
  width: 100%;
  max-width: 420px;
  height: 169px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-upload img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.image-preview {
  width: 100%;
  height: auto;
  display: none;
}

.icon-image img {
  display: none;
}

.icon-image.has-preview i,
.icon-image.has-preview .button-form {
  display: none;
}

.fa-image {
  color: #cbd6dc;
  position: relative;
  top: 50px;
}
.fa-2xl {
  font-size: 5em;
}
.icon-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-form {
  border-radius: 60px;
  color: #306685;
  background-color: #cbd6dc;
  height: 36px;
  font-size: 13px;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 10px;
  font-family: "syne";
  display: inline-block;
  position: relative;
  bottom: -90px;
}
.limit-upload {
  font-size: 11px;
  font-weight: lighter;
  font-family: "Work Sans";
  color: black;
  margin-top: 0px;
  position: absolute;
  display: inline-block;
  left: 37.5%;
  top: 83%;
}

.select-photo {
  display: flex;
  flex-direction: column;
  width: 420px;
  border-bottom: 1px solid #b3b3b3;
  position: relative;
  bottom: 70px;
  padding-bottom: 40px;
}
.select-photo label {
  margin: 2em 0 1em 0;
  text-align: left;
  color: black;
  font-size: 14px;
  font-weight: lighter;
  font-family: "Work Sans";
}
.select-photo input,
select {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  background-color: white;
}

.select-photo select,
input[type="text"] {
  font-weight: lighter;
  font-size: 14px;
}

.submit-button {
  background-color: #a7a7a7;
  color: #fff;
  padding: 10px 49px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  font-size: 14px;
  width: 237px;
  position: relative;
  bottom: 50px;
}

.submit-button:hover {
  opacity: 0.8;
  background-color: #a7a7a7;
}

/* ************************************************************** */
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 35%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input[type="text"],
input[type="email"],
input[type="password"] {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#forget-password {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  cursor: pointer;
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  height: 37px;
  transition: all 200ms ease-in;
  border: none;
  cursor: pointer;
}
/* input[type="submit"]:hover{


} */

#image {
  display: none;
}

footer ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
footer > li {
  font-size: 16px;
}
